.portfolio {
    background-color: $light-blue;
    display: flex;
    flex-direction: column;

    .grid {
        display: flex;
        margin: auto;

        button {
            background-color: unset;
            border: none;
            padding: unset;

        }
    }
}
.portfolioItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    flex: 0 1 auto;
    margin: 0 20px;

    &:after {
        content: "";
        position: absolute;
        width: 400px;
        height: 400px;
        background-color: black;
        opacity: 0.5;
        transition: opacity 1s ease-in-out;
    }

    .coverImage {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .title {
        position: absolute;
        z-index: 1;
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }

    &:hover {
        &:after {
            opacity: 0;
        }

        .title {
            opacity: 0;
        }
    }
}
