@font-face {
    font-family: 'Pavanam';
    src: url('/fonts/Pavanam-Regular.woff2') format('woff2'),
        url('/fonts/Pavanam-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans Light';
    src: url('/fonts/GeneralSans-Extralight.woff2') format('woff2'),
        url('/fonts/GeneralSans-Extralight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans Medium';
    src: url('/fonts/GeneralSans-Medium.woff2') format('woff2'),
        url('/fonts/GeneralSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans Extra Light Italic';
    src: url('/fonts/GeneralSans-ExtralightItalic.woff2') format('woff2'),
        url('/fonts/GeneralSans-ExtralightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans Light Italic';
    src: url('/fonts/GeneralSans-LightItalic.woff2') format('woff2'),
        url('/fonts/GeneralSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans Bold Italic';
    src: url('/fonts/GeneralSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/GeneralSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans Bold';
    src: url('/fonts/GeneralSans-Bold.woff2') format('woff2'),
        url('/fonts/GeneralSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans Italic';
    src: url('/fonts/GeneralSans-Italic.woff2') format('woff2'),
        url('/fonts/GeneralSans-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans Light';
    src: url('/fonts/GeneralSans-Light.woff2') format('woff2'),
        url('/fonts/GeneralSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans Medium Italic';
    src: url('/fonts/GeneralSans-MediumItalic.woff2') format('woff2'),
        url('/fonts/GeneralSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans';
    src: url('/fonts/GeneralSans-Regular.woff2') format('woff2'),
        url('/fonts/GeneralSans-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans Semibold';
    src: url('/fonts/GeneralSans-Semibold.woff2') format('woff2'),
        url('/fonts/GeneralSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'General Sans Semibold Italic';
    src: url('/fonts/GeneralSans-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/GeneralSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Abhaya Libre Bold';
    src: url('/fonts/AbhayaLibre-Bold.woff2') format('woff2'),
        url('/fonts/AbhayaLibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre Medium';
    src: url('/fonts/AbhayaLibre-Medium.woff2') format('woff2'),
        url('/fonts/AbhayaLibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre Extra Bold';
    src: url('/fonts/AbhayaLibre-ExtraBold.woff2') format('woff2'),
        url('/fonts/AbhayaLibre-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre Semi Bold';
    src: url('/fonts/AbhayaLibre-SemiBold.woff2') format('woff2'),
        url('/fonts/AbhayaLibre-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abhaya Libre';
    src: url('/fonts/AbhayaLibre-Regular.woff2') format('woff2'),
        url('/fonts/AbhayaLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

