// colors 
$sage: #B7B8AE;
$blush: #FCB89F;
$background: #FFFDF7;
$light-blue: #DDE6E4;
$light-brown: #8B8074;
$medium-brown: #5C473C;
$dark-brown: #252420;

// fonts 
$Abhaya-Bold: 'Abhaya Libre Bold';
$Abhaya-Med: 'Abhaya Libre Medium';
$Abhaya-Libre: 'Abhaya Libre';

$Gen-Sans: 'General Sans';
$Gen-Sans-Bold: 'General Sans Bold';
$Gen-Sans-Light: 'General Sans Light';
$Gen-Sans-Italic: 'General Sans Italic';
$Gen-Sans-Medium: 'General Sans Medium';

// breakpoints
$mobile: 568;
$tablet: 800;
$laptop: 1250;
$desktop: 1440;
$widescreen: 1600;
